del {
    border-style: dotted;
    /*
    align-self: baseline;
*/
}

div {
    margin: auto;2
    display: flex;
    flex-direction: column;
/*
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

*/
}
