body {
    background-color: #ECFFE6;
}

span {
    color: #778B71;
}

del {
    color: #D8F3CF;
}

#background > span, #background > del{
    display: block;
}

#background {
    font-size: 3em;
    font-family: Sans;
}

body, html
{
    height: 100%;
}
#table-container
{
    display:    table;
    text-align: center;
    width:      100%;
    height:     90%;
}
#container
{
    display:        table-cell;
    vertical-align: middle;
}
#main
{
    display: inline-block;
}
#background
{

}
#contacts {
    position: fixed;
    right: 3%;
    bottom: 3%;
    text-align: right;
}

a {
    color: #8EA886;
}

a:visited {
    color: #D8F3CF;
}

