del {
    border-style: dotted;
    
/*
    align-self: baseline;
*/
}

div {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
/*
    justify-content: center;
*/
}

div span:first-child {
    color: green;
    align-self: flex-start;
}

div span:last-child {
    color: blue;
    align-self: flex-end;
}

div del {
    align-self: baseline;
}

div * {
    white-space: nowrap;
}
